*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background: #242424;
  padding: 1.5rem;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

#canvas {
  display: block;
  border: 1px solid #fff;
  aspect-ratio: 16/9;
}

.action-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  min-height: 2.25rem;
  font-size: 0.9em;
  border-radius: 100vmax;
}

input[type="range"] {
  accent-color: hsla(200, 100%, 50%, 0.9);
}

input[type="color"] {
  padding: 0;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  min-height: 2.25rem;
  font-size: 0.9em;
  border-radius: 0.25em;
}